*~
.DS_Store
.DS_Store*
__TwigTemplate_*
ehthumbs.db
Thumbs.db
*.log
*.bak
*.data
*.cache
*.cache.html
/ignore/
/ignored/
ideas.txt
*.idea
/nbproject/
/src/system/vendor/
/src/public/
composer.lock
*_1.php
*_2.php
*_3.php
src/install.php
composer.phar