*~
.DS_Store
.DS_Store*
__TwigTemplate_*
ehthumbs.db
Thumbs.db
*.log
*.bak
*.data
*.cache
*.cache.html
.ignore
.ignored
ideas.txt
*.idea
*_[0-9].php
composer.phar
composer.lock
/nbproject/
/src/install.php
/src/public/
/src/system/vendor/
/src/system/app/cache/
/src/system/app/data/
/src/system/app/logs/
/src/system/app/tmp/