html, body{
    color:#f5f5f5;
    background: #333;
   
}

@media (min-width: 979px) {
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}

pre, well{
    color:#f5f5f5;
    background: #444;
}

a, a:hover{
    color:gold;
}

.profiler-bar{
    font-size:90%;
}
.profiler-bar .navbar-inner > .pull-left{
    padding-left:25px;
}
.profiler-bar .navbar-inner > .pull-right{
    padding-right:10px;
}

.profiler-container{
    overflow:auto;
}

.profiler-bar a[data-event].maximized{
    padding:4px 6px;
    margin:6px;
}
.profiler-bar a[data-event].maximized,.profiler-bar a[data-event].maximized:hover{
    background:#666;
    background:rgba(255,255,255,0.2);
    color:#eee;
    border-radius:4px;
}

.profiler-container .tab-pane{
    background:#555;
    padding:15px;
    border-radius: 4px;
}
.profiler-container .tab-pane h1{
    margin-top:0;
    margin-bottom:15px;
}
.profiler-container ul,
.profiler-container ul li{
    margin:0;
    padding:0;
    list-style:none;
    display:block;
}

.profiler-container .alert{
    border-radius: 0;
    margin-bottom: 5px;
}

.alert-debug{
    background: #DDD;
    border-color: #CCC;
    color: #555;
}

.alert-error,
.alert-critical{
    background: #B94A48;
    border-color: #B94A48;
    color:#F2DEDE;
}

.alert-critical{
    color:#fff;
    font-weight: bold;
    border-color:#fff;
}

.alert-info{
    background: #3A87AD;
    border-color: #3A87AD;
    color: #D9EDF7;
}

.alert-warning{
    background: goldenrod;
    border-color: goldenrod;
    color:#FCF8E3;
}